html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.wrapper{
    display : flex;
    justify-content : center;
    align-items : center;
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction : column;
}