﻿@model FoodAppMiniProject.Models.AddDishViewModel

@{
    ViewData["Title"] = "AddDish";
}

<h1>AddDish</h1>

@if(TempData["msg"] != null){
        <div class="alert alert-@TempData["type"]" role="alert">
            @TempData["msg"]
        </div>
}

<div class="row">
    <div class="col-md-4">
        <small style="color:red;">All fields marked with as * are required </small>
        <form asp-action="AddDish" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DishName" class="control-label">Dish Name<sup style="color:red;">*</sup></label>
                <input asp-for="DishName" class="form-control" placeholder="Enter Dish Name"/>
                <span asp-validation-for="DishName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="About" class="control-label">Description<sup style="color:red;">*</sup></label>
                <textarea asp-for="About" class="form-control" placeholder="Enter Description "> </textarea>
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Price<sup style="color:red;">*</sup></label>
                <input asp-for="Price" class="form-control" placeholder="Enter Price"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Image <sup style="color:red;">*</sup></label>
                <input type="file" name="file" class="form-control"/>
                <span class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Add Dish" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
