﻿@model FoodAppMiniProject.Models.Dish

@{
    ViewData["Title"] = "Details";
}

<h3>Details</h3>
<hr/>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DishName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DishName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.About)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedOn)
        </dd>
        <dt class = "col-sm-2">
            Added By
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Admin.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Img)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Url.Content(Model.Img)" width="200" height="200" />
        </dd>
    </dl>
</div>
<hr/>
<div>
    <a asp-action="UpdateDish" asp-route-id="@Model?.Id">Edit</a> 
</div>
