﻿@model IEnumerable<FoodAppMiniProject.Models.Dish>

@{
    ViewData["Title"] = "ViewDishes";
}

<div>
    @if (TempData["msg"] != null)
{
    <div class="alert alert-@TempData["type"]" role="alert">
        @TempData["msg"]
        </div>}
</div>
<div style="display:flex;flex-direction:row-reverse;">
    <p>
        <a class="btn btn-outline-success" asp-action="AddDish">Add New Dish</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.About)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.AddedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.About)
            </td>
            <td>
                ₹ @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="@Url.Content(item.Img)" width=100 height=100 />
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.AddedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin.Name)
            </td>
            <td>
                <a class="btn btn-outline-warning" asp-action="UpdateDish" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-outline-primary"  asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a class="btn btn-outline-danger"  asp-action="DeleteDish" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
