﻿@model IEnumerable<FoodAppMiniProject.Models.Dish>

@{
    ViewData["Title"] = "Index";
}

@if(TempData["msg"] != null){
        <div class="alert alert-@TempData["type"]" role="alert">
            @TempData["msg"]
        </div>
}
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4 mt-3">
                <div class="card h-100">
                    <embed src="@Url.Content(item.Img)"
                       class="card-img-top"
                       alt="..." />
                    <div class="card-body card-content">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.DishName)</h5>
                        <h4 class="font-weight-bold blue-text">
                            <strong>
                                
                               ₹ @Html.DisplayFor(modelItem => item.Price)
                            
                            </strong>
                        </h4>
                        <p class="card-text">
                           @Html.DisplayFor(modelItem => item.About)
                        </p>
                    </div>
                    <div class="card-footer wrapper">
                        <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.Id" class="btn btn-warning" role="button">Add to cart</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

