﻿@model IEnumerable<FoodAppMiniProject.Models.Cart>

@{
    ViewData["Title"] = "ViewCart";
}

@if (Model.Count() == 0)
{
    <div class="text-center">
        <h1>Cart is Empty</h1>
    </div>
}
else
{
    <h2>User Cart</h2>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Dish.DishName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            Price
                        </th>
                        <th colspan="3">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dish.DishName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                <img src="@Url.Content(item.Dish.Img)" width=100 height=100 />
                            </td>
                            <td>
                                @{
                                    var price = item.Quantity * item.Dish.Price;
                                }
                                ₹ @price
                            </td>
                            <td>
                                <span> <a style="text-decoration:none;color:green" asp-action="IncrementCart" asp-route-id="@item.Id" )><h3>+</h3></a></span>
                            </td>
                            <td>
                                <span> <a style="text-decoration:none;color:red" asp-action="DecrementCart" asp-route-id="@item.Id"><h3>-</h3></a></span>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-danger" asp-action="DeleteFromCart" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            @if (ViewBag.CartTotal != null)
            {
                <table class="col-5">
                    <tr>
                        <th><h3>Cart Total : </h3></th>
                        <td><h3 class="text-success">₹ @ViewBag.CartTotal</h3></td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Payment Mode :</h4>
                            <form>
                                <input type="radio" id="paymentChoice1"
                               name="payment" value="Pay On Delivery" checked>
                                <label for="paymentChoice1">Pay On Delivery</label>

                                <input type="radio" id="paymentChoice2"
                               name="payment" value="Pay Online" disabled>
                                <label for="paymentChoice2">Pay Online</label>
                            </form>
                        </td>
                    </tr>
                </table>
                <p>
                    <a asp-action="Checkout" asp-controller="Order" class="btn btn-warning mt-5" role="button">Checkout</a>
                </p>
            }

        </div>

    </div>
}






