﻿@model FoodAppMiniProject.Models.Order

@{
    ViewData["Title"] = "AdminOrderDetails";
}

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Invoice)
        </dd>
         <dt class = "col-sm-2">
            Dish
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dish.DishName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qantity)
        </dd>
        <dt class = "col-sm-2">
            Order Total
        </dt>
        <dd class = "col-sm-10">
            ₹ @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            User
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt class = "col-sm-2">
            Address
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.User.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Order" asp-action="ViewOrderAdmin">Back to List</a>
</div>
