﻿@model FoodAppMiniProject.Models.Order

@{
    ViewData["Title"] = "ProcessOrder";
}

<h1>Process Order</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ProcessOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <select class=form-control mb-3"  asp-for="Status" required>
                    <option value="Pending">Pending</option>
                    <option value="Delivered">Delivered</option>
                    <option value="Ordered">Ordered</option>
                    <option value="Canceled">Canceled</option>
            </select>
            <div class="form-group ">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
