﻿@model IEnumerable<FoodAppMiniProject.Models.Order>

@{
    ViewData["Title"] = "ViewOrderAdmin";
}

@if(TempData["msg"] != null){
        <div class="alert alert-@TempData["type"]" role="alert">
            @TempData["msg"]
        </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Dish Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Order Date
            </th>
            <th>
                Order Placed By
            </th>
             <th>
                Delivery Address
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dish.DishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Address)
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-action="ProcessOrder" asp-route-id="@item.Id">Process Order</a> 
                <a class="btn btn-outline-primary" asp-action="AdminOrderDetails" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
