﻿@model IEnumerable<FoodAppMiniProject.Models.Order>

@{
    ViewData["Title"] = "ViewOrderDetails";
}

<h3>Order Details</h3>

<h5>Invoice No : @ViewBag.Invoice</h5>

<h5>Address : @ViewBag.Address</h5>

<h5>Payment : Pay On Delivery</h5>


<table class="table">
    <thead>
        <tr>

            <th>
                Dish Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qantity)
            </th>
            <th>
                Price
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.DishName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qantity)
                </td>
                <td>
                  
                    ₹ @item.Price
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    </tbody>
</table>

<hr/>
<h3> Order Total : ₹ @ViewBag.OrderTotal</h3>
