﻿@model IEnumerable<FoodAppMiniProject.Models.Order>

@{
    ViewData["Title"] = "ViewOrder";
}

<h1>All Orders</h1>



<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Invoice)
            </th>
            <th>Ordered On</th>
            <th>Order Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Invoice)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="ViewOrderDetails" asp-route-id="@item.Invoice">View More</a>
                </td>
            </tr>
        }
    </tbody>
</table>
