﻿@model FoodAppMiniProject.Models.AdminLoginViewModel

@{
    ViewData["Title"] = "AdminLogin";
}

@if(TempData["msg"] != null){
        <div class="alert alert-@TempData["type"]" role="alert">
            @TempData["msg"]
        </div>
}

<h1 class="wrapper">Admin Login</h1>

<div class="row">
    <div class="wrapper">
        <div class="col-md-4">
        <form asp-action="AdminLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Username</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 wrapper">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
