﻿@model IEnumerable<FoodAppMiniProject.Models.User>

@{
    ViewData["Title"] = "Index";
}

@if(TempData["msg"] != null){
        <div class="alert alert-@TempData["type"]" role="alert">
            @TempData["msg"]
        </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
               @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                <a asp-action="Details" class="btn btn-outline-primary" asp-route-id="@item.Id">Details</a> 
                <a asp-action="DeleteUser" class="btn btn-outline-danger" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
