﻿@model FoodAppMiniProject.Models.User

@{
    ViewData["Title"] = "NewUser";
}

@if(TempData["msg"] != null){
        <div class="alert alert-@TempData["type"]" role="alert">
            @TempData["msg"]
        </div>
}
<h1 class="d-flex justify-content-center">Register User</h1>

<div class="row">
    <div class="wrapper">
        <div class="col-md-4">
            <small style="color:red;">All fields marked with as * are required </small>
        <form asp-action="NewUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name<sup style="color:red;">*</sup></label>
                <input asp-for="Name" class="form-control" placeholder="Enter Full Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email<sup style="color:red;">*</sup></label>
                <input asp-for="Email" class="form-control" placeholder="Enter Email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Phone<sup style="color:red;">*</sup></label>
                <input asp-for="Phone" class="form-control" placeholder="Enter Phone no."/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password<sup style="color:red;">*</sup></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Address<sup style="color:red;">*</sup></label>
                <textarea asp-for="Address" class="form-control" placeholder="Enter Address"> </textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group wrapper mt-2">
                <input type="submit" value="Register User" class="btn btn-primary" />
            </div>
        </form>
    </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
