﻿@model FoodAppMiniProject.Models.LoginViewModel

@{
    ViewData["Title"] = "UserLogin";
}

<h1 class="d-flex justify-content-center">Login</h1>

@if (TempData["msg"] != null)
{
    <div class="alert alert-@TempData["type"]" role="alert">
        @TempData["msg"]
        </div>}

<div class="row">
    <div class="wrapper">
        <div class="col-md-4 d-fle">
            <form asp-action="UserLogin">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Username</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="Password" class="control-label">Password</sup></label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group d-flex justify-content-center mt-3">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
